<style>
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    </style>
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <title>Voice Search Web</title>
        <style>
            .wrapper{
                display: flex;
            }
            .left{
                margin-left: 50px;
                margin-right: 50px;
            }
            .slider{
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .question{
                display: flex;
            }
            
        </style>
    
    </head>
    
    <body>
        <div style="margin: 30px 0 10px 30px; width: 90%;">
                <h3>Voice Search Web Instructions</h3>
                <h4>This website allows you to search and select a preferable voice that you can use in online communications. First, please set your provided participant ID and situation ID as guided by the instructor.</h4> 
                <h4>After that, set the gender and age group of the voice you want to search. Click on the drop-down button to select male/female and age group options.</h4>
                <h4>Now move the slider to the left or right, towards the word that is closer to your preferred voice. Multiple audio files that suit the condition will appear at the bottom of the slider as you change the options.</h4>
                <h4>Press the play button to listen to the voice, and select the checkbox next to the voice you prefer. Multi-selection is allowed. Press the ‘Submit’ button at the bottom of the page to save your results.</h4>
                
        </div>
        <form action="/save_user_input/" method="POST">
        {% csrf_token %}
        <div style="display: flex;">
            <select onchange="" id="test_id" name="test_id" style="margin-left: 20px;">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select>
            <select onchange="show_situation();" id="situation" name="situation" style="margin-left: 20px;">
                <option value="6" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div id="situation_text" style="width:60%;">
        <h4 style="margin-left: 25px;">Please indicate the attribute that best describes your voice.</h4>
        </div>
        <div style="display: flex; margin-top: 30px;">
            <select onchange="play();" id="gender" name="gender" style="margin-left: 20px;">
                <option value="0" selected>Male</option>
                <option value="1">Female</option>
            </select>
            <select onchange="play();" id="age" name="age" style="margin-left: 20px;">
                <option value="1" selected>18~24</option>
                <option value="2">25~34</option>
                <option value="3">35~44</option>
                <option value="4">45~54</option>
                <option value="5">55~64</option>
                <option value="6">65 and older</option>
            </select>
        </div>
    
        <div class="wrapper" style="margin-bottom: 0px;">
            <div class="left" style="margin-bottom: 0px;">
                <div style="display: flex;">
                    <div>
                        <p>Full</p>
                        <p>Rough</p>
                        <p>Clear</p>
                        <p>Monotonous</p>
                    </div>
                    <div style="margin-top: 10px; margin-left: 8px;">
                        <div><input onchange="play();" name="breathiness" type="range" min="2" max="4" value="3" class="slider" id="breathiness"></div> 
                        <div><input onchange="play();" name="smoothness" type="range" min="2" max="4" value="3" class="slider" id="smoothness"></div> 
                        <div><input onchange="play();" name="hoarseness" type="range" min="2" max="4" value="3" class="slider" id="hoarseness"></div>
                        <div><input onchange="play();" name="variation" type="range" min="2" max="4" value="3" class="slider" id="variation"></div>
                    </div>
                    <div>
                        <p>Breathy</p>
                        <p>Smooth</p>
                        <p>Hoarse</p>
                        <p>Animated</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button type="button" onclick="play();" style="margin-left: 30px;">Search</button> -->
        <div id="url_list"></div>    
        <button type="submit" style="margin-left: 30px;">Submit</button> 
        </form>
        <script type="text/javascript">
            function play(){
                $("#url_list").empty();
                var genderValue = document.getElementById('gender').value;
    
                var ageValue=document.getElementById('age').value;
                console.log(ageValue);
    
                var breathinessValue=document.getElementById('breathiness').value;
                console.log(breathinessValue);
                var smoothnessValue=document.getElementById('smoothness').value;
                console.log(smoothnessValue);
                var hoarsenessValue=document.getElementById('hoarseness').value;
                console.log(hoarsenessValue);
                var variationValue=document.getElementById('variation').value;
                console.log(variationValue);
    
                var id_num=ageValue+breathinessValue+smoothnessValue+hoarsenessValue+variationValue;
                console.log(id_num);
                
                var url = '/voice_search/'+genderValue +'/'+id_num+'/';
                
                $.ajax({
                        type: "GET",
                        // headers: {Authorization: "token " + "b9b19c39894e865ed982ce9914f14750aaa21f71"}, 
                        url: url,     
                        async: false,
                        success: function(res){        
                            console.log(res);
                            var url_list = res['url_list'];
                            
                            if (url_list.length != 0) {
                                for(var url of url_list){
                                    create_audio(url);
                                }
                            }                                
                            else{
                                empty_audio();
                            }
                                
                            
                        },       
                    });
            }
            function create_audio(url){
                $("#url_list").append(
                    '<audio controls="" style="width: 400px; margin-bottom: 10px; margin-left: 50px;">' +
                        '<source src="'+ url +'" type="audio/mpeg" />'+
                    '</audio>' +
                    '<input style="width:25px;height:25px;" type="checkbox" name="checkbox[]" value='+url+'>'
                    
                    );
            }
            function empty_audio(){
                $("#url_list").append(
                    '<h4 style="margin-left: 25px;">No voices found. Please select a different condition.</h4>'
                );
            }
            function show_situation(){
                $("#situation_text").empty();
                var situationInput = Number($("#situation").val());
                var situationText = ['You are trying to send greeting messages to your family or friends during the holidays. If you could create a customized voice using the platform described above and make a phone call with the voice you prefer, what kind of voice would you like to communicate with?',
                                    'You are a student participating in an online class that requires active discussions and presentations. Let’s assume that you are familiar with the instructor and the classmates. If you could create a customized voice using the platform described above and participate in class with the voice you prefer, what kind of voice would you like to communicate with?',
                                    'You are trying to communicate with team members in an online game (e.g., League of Legends, Overwatch, PlayerUnknown’s Battlegrounds) using your voice. If you could create a customized voice using the platform described above and use this voice in-game, what kind of voice would you like to communicate with?',
                                    'You are trying to call the customer service center and inquire about the damaged package you received. If you could create a customized voice using the platform described above and make a phone call, what kind of voice would you like to communicate with?',
                                    'You are trying to film an informative video, such as a documentary, that includes your voice. This video will be uploaded on YouTube and anyone on the internet can access your clip. If you could create a customized voice using the platform described above and use it for your video clip, what kind of voice would you like to use?',
                                    'Please indicate the attribute that best describes your voice.']
                $("#situation_text").append(
                    '<h4 style="margin-left: 25px;">'+situationText[situationInput-1]+'</h4>'
                );
            }
        </script>
    </body>