<style>
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    </style>
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <title>Voice Creator</title>
        <style>
            .wrapper{
                display: flex;
            }
            .left{
                margin-left: 50px;
                margin-right: 50px;
            }
            .slider{
                margin-right: 20px;
                margin-bottom: 20px;
            }
            .question{
                display: flex;
            }
            
        </style>
    
    </head>
    
    <body>
        <div style="margin: 30px 0 10px 30px; width: 90%;">
                <h3>Voice Creator 웹사이트 사용법</h3>
                <h4>이 웹사이트에서는 온라인 소통을 할 때 사용하고 싶은 목소리를 고를 수 있습니다. 우선 진행자의 안내대로 부여받은 참가자 번호와 상황번호를 설정해주세요. </h4> 
                <h4>그 후, 만들고 싶은 목소리의 성별과 나이대를 설정합니다. 드롭다운 버튼을 누르면 남성/여성, 그리고 각 나이대별 옵션을 선택할 수 있습니다. </h4>
                <h4>이제 스케일바의 왼쪽과 오른쪽 단어 중에서 자신이 선호하는 목소리에 더 가까운 단어로 슬라이드바를 이동해보세요. 옵션을 바꾸면 슬라이드 하단에 여러개의 오디오가 나타납니다.</h4>
                <h4>재생 버튼을 눌러 목소리를 들어본 후, 마음에 드는 목소리의 체크박스를 선택해주세요. 한 조건에 대해 여러개의 체크박스를 누를 수 있습니다. 다중 선택 후 하단의 ‘제출' 버튼을 누르면 선택 결과가 저장됩니다.</h4>
                <h4>다시 성별과 연령 그리고 슬라이드바를 조정하여 다른 설정의 목소리를 들어보세요. </h4>
        </div>
        <form action="/save_user_input/" method="POST">
        {% csrf_token %}
        <div style="display: flex;">
            <select onchange="" id="test_id" name="test_id" style="margin-left: 20px;">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select>
            <select onchange="show_situation();" id="situation" name="situation" style="margin-left: 20px;">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div id="situation_text" style="width:60%;">
        <h4 style="margin-left: 25px;">'당신은 명절을 맞아 멀리 떨어져 지내는 가족/친구와 오랜만에 안부인사와 근황을 전하려고 합니다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 통화를 할 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?'</h4>
        </div>
        <div style="display: flex; margin-top: 30px;">
            <select onchange="play();" id="gender" name="gender" style="margin-left: 20px;">
                <option value="0" selected>남성</option>
                <option value="1">여성</option>
            </select>
            <select onchange="play();" id="age" name="age" style="margin-left: 20px;">
                <option value="1" selected>18~24</option>
                <option value="2">25~34</option>
                <option value="3">35~44</option>
                <option value="4">45~54</option>
                <option value="5">55~64</option>
                <option value="6">65 and older</option>
            </select>
        </div>
    
        <div class="wrapper" style="margin-bottom: 0px;">
            <div class="left" style="margin-bottom: 0px;">
                <div style="display: flex;">
                    <div>
                        <p>숨소리가 적다</p>
                        <p>거칠다</p>
                        <p>맑다</p>
                        <p>음고 변화가 적다</p>
                    </div>
                    <div style="margin-top: 10px; margin-left: 8px;">
                        <div><input onchange="play();" name="breathiness" type="range" min="2" max="4" value="3" class="slider" id="breathiness"></div> 
                        <div><input onchange="play();" name="smoothness" type="range" min="2" max="4" value="3" class="slider" id="smoothness"></div> 
                        <div><input onchange="play();" name="hoarseness" type="range" min="2" max="4" value="3" class="slider" id="hoarseness"></div>
                        <div><input onchange="play();" name="variation" type="range" min="2" max="4" value="3" class="slider" id="variation"></div>
                    </div>
                    <div>
                        <p>숨소리가 많다</p>
                        <p>부드럽다</p>
                        <p>목이 쉰듯하다</p>
                        <p>음고 변화가 많다</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button type="button" onclick="play();" style="margin-left: 30px;">Search</button> -->
        <div id="url_list"></div>    
        <button type="submit" style="margin-left: 30px;">제출</button> 
        </form>
        <script type="text/javascript">
            function play(){
                $("#url_list").empty();
                var genderValue = document.getElementById('gender').value;
    
                var ageValue=document.getElementById('age').value;
                console.log(ageValue);
    
                var breathinessValue=document.getElementById('breathiness').value;
                console.log(breathinessValue);
                var smoothnessValue=document.getElementById('smoothness').value;
                console.log(smoothnessValue);
                var hoarsenessValue=document.getElementById('hoarseness').value;
                console.log(hoarsenessValue);
                var variationValue=document.getElementById('variation').value;
                console.log(variationValue);
    
                var id_num=ageValue+breathinessValue+smoothnessValue+hoarsenessValue+variationValue;
                console.log(id_num);
                
                var url = '/voice_search/'+genderValue +'/'+id_num+'/';
                
                $.ajax({
                        type: "GET",
                        // headers: {Authorization: "token " + "b9b19c39894e865ed982ce9914f14750aaa21f71"}, 
                        url: url,     
                        async: false,
                        success: function(res){        
                            console.log(res);
                            var url_list = res['url_list'];
                            
                            if (url_list.length != 0) {
                                for(var url of url_list){
                                    create_audio(url);
                                }
                            }                                
                            else{
                                empty_audio();
                            }
                                
                            
                        },       
                    });
            }
            function create_audio(url){
                $("#url_list").append(
                    '<audio controls="" style="width: 400px; margin-bottom: 10px; margin-left: 50px;">' +
                        '<source src="'+ url +'" type="audio/mpeg" />'+
                    '</audio>' +
                    '<input style="width:25px;height:25px;" type="checkbox" name="checkbox[]" value='+url+'>'
                    
                    );
            }
            function empty_audio(){
                $("#url_list").append(
                    '<h4 style="margin-left: 25px;">조건에 맞는 목소리가 없습니다. 다른 조건을 선택하세요.</h4>'
                );
            }
            function show_situation(){
                $("#situation_text").empty();
                var situationInput = Number($("#situation").val());
                var situationText = ['당신은 명절을 맞아 멀리 떨어져 지내는 가족/친구와 오랜만에 안부인사와 근황을 전하려고 합니다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 통화를 할 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?',
                                    "당신은 한 학기동안 실시간 온라인 수업에 학생으로 참여하려고 합니다. 수업은 매번 질의응답, 발표 및 토론이 활발히 진행되고, 교수자(예: 교수, 교사, 강사) 외 수업을 함께 듣는 다른 학생들과는 이미 서로 얼굴을 알고 있다고 가정합시다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 수업에 참여를 할 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?",
                                    '당신은 다른 유저와 협력하며 즐기는 게임(예: 오버워치, 배틀그라운드)에서 같은 팀 내 다른 멤버들과 소통하려고 합니다. 이 때, 키보드로 입력하고 화면의 글을 읽어야하는 채팅 대신 보이스톡 기능을 활용하여 참여하기로 합니다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 게임에 참여를 할 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?',
                                    '당신이 배송받은 물품이 파손된 상태로 도착하여 해당 물품 생산 업체 콜센터 상담원에게 문의하려고 합니다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 민원상담을 할 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?',
                                    '당신은 당신이 잘 아는 분야에 대한 정보전달용 유튜브 콘텐츠(예: 다큐멘터리)를 제작하려고 합니다. 따라서 당신은 영상 클립, 자막, 목소리를 넣어 영상을 구성하려고 하고 이 영상은 유튜브를 사용하는 불특정 다수에게 보여질 수 있습니다. 앞서 설명한 플랫폼을 통해 맞춤형 목소리를 제작하여 원하는 목소리로 영상을 만들 수 있다면 당신은 어떤 목소리로 소통하고 싶으십니까?']
                $("#situation_text").append(
                    '<h4 style="margin-left: 25px;">'+situationText[situationInput-1]+'</h4>'
                );
            }
        </script>
    </body>